# ไฟล์ Environment ที่เก็บรหัสผ่าน ห้ามอัปโหลดเด็ดขาด!
.env

# โฟลเดอร์ของ VS Code (ถ้ามี)
.vscode/

# ไฟล์ Environment ที่มี Keys ห้ามอัปโหลดเด็ดขาด
/js/env.js
/sql
/supabase

# โฟลเดอร์ dependencies ของ Node.js
node_modules/
.vercel
.env*.local
